@import "tailwindcss";

body {
	margin: 0;
	padding: 0;
	font-family: 'Cormorant Garamond', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 1rem;
	background-color: #111;
	color: #f0f0f0
}

* {
	box-sizing: border-box;
	overflow: hidden;
}
